/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #000;
}

body {
    font-size: 1em;
    line-height: 1.4;
<<<<<<< HEAD
    background-color: #A1A3A6;
=======
    min-width: 970px;
>>>>>>> master
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

a {
    color: #0f4d92;
    text-decoration: none;
}

#divider{
    height: 1500px;
    display: block;

}

#nav {
    color: #fff;
    float: left;
    width: 300px;
    position:fixed;
    z-index: 10;
}

#nav ul li {
    list-style-image: none;
    list-style-type: none;
}

#nav ul li a {
    color: #fff;
}

#content {
    margin-left: 300px;
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-top: 1rem #0F4D92 solid;
    -moz-box-shadow: 0px 0px 10px #767778;
    -webkit-box-shadow: 0px 0px 10px #767778;
    box-shadow: 0px 0px 10px #767778;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color='#767778')";
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color='#767778');
}

ol, ul {
    list-style: none;
}

#main {
    padding-top: 60px;
    padding-bottom: 100px; /* for aesthetics, I suppose */
}

#wrap {
    min-width: 970px;
    min-height: 100%;

    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 30%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(62%,rgba(255,255,255,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 30%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */

    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    transition: background-color 1s ease-in-out;
}

.bulldogs #wrap {
    background-color: #7C97C4;
}

.container {
    width: 960px;
    margin: 0 auto;
}


.bulldogs {
    height: 100%;
}

/*unused*/
.blurb-title {
    display: block;
    margin-left:55px; /* shifted by hand; centering with text is hard! */
    margin-right:auto;
    padding: 0;
}

.blurb {
    text-shadow: rgba(255,255,255,0.2) 0 1px 0;
    width: 610px;
    float: left;
    margin-bottom: 44px;
    color: #666666;
    font-size: 22px;
    line-height: 1.3;
    font-weight: lighter;
    font-style: italic;
}

hr.blurb {
    margin-bottom: 20px !important;
    margin-top: 0px; /* compensate for blurb title vspace */
    width: 605px;
    float: left;
}

.title{
    display: block;
    margin-left:auto;
    margin-right:auto;
    padding: 0;
}

p.title {
    margin-top:20px;
}

/* use invisible anchor to create more whitespace */
.vspace {
    display:block;
    visibility: hidden;
}

.instructions {
    font-family: “Hoefler Text”, Palatino, “Palatino Linotype”,  Times, “Times New Roman”, serif;
    font-style: italic;
    color: #666666;
    font-size: 24px;
    text-align: center;
}


[role="main"] > section,
[role="main"] > div {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    clear: both;
    overflow: hidden !important;
    padding: 30px;

    margin: 0 auto;

    background: #fafafa;
    box-shadow: #fff 0 0 1px inset;

    border: 1px solid #000;
    border: 1px solid rgba(0,0,0,0.4)
}

section#splash {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    width: 875px !important;
    padding: 10px !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section#images {
    margin-top: 30px;
    padding-bottom: 60px;
}

footer {
    width:960px;
    margin: 0 auto;
    font-size: 12px;
    background-color: transparent;
    border-top: 1px solid #ccc;
    color:#434445;
    padding: 20px 0;
}

#attribution,
footer p {
    font: 11px Verdana,Arial,Helvetica,sans-serif;
}


#action{
    margin-top: 50px;
    float: right;
    position: relative;
    z-index: 1;
}

#action a {
    text-decoration: none;
    box-sizing: border-box;
    width: 100%;
}

/* nice padding space */
#action li a:first-child {
    margin-bottom: 8px;
}

#blurb-container {
    font-family: “Hoefler Text”, Palatino, “Palatino Linotype”,  Times, “Times New Roman”, serif;
    background: transparent;
    border-width: 0;
    box-shadow: none;
    width: 640px !important;
    float:left;
}

/* beautiful "shiny gradient" from Sproutcore: http://www.sproutcore.com; */
a.button.primary {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0.3)), color-stop(50%, rgba(255,255,255,0.22)), color-stop(50%, rgba(255,255,255,0.12)), color-stop(100%, rgba(255,255,255,0)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.22) 50%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0));
    background: -moz-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.22) 50%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0));
    background: -o-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.22) 50%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0));
    background: -ms-linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.22) 50%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0));
    background: linear-gradient(top, rgba(255,255,255,0.3),rgba(255,255,255,0.22) 50%,rgba(255,255,255,0.12) 50%,rgba(255,255,255,0));
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 0 6px,rgba(255,255,255,0.4) 0 1px 0 inset;
    -moz-box-shadow: rgba(0,0,0,0.2) 0 0 6px,rgba(255,255,255,0.4) 0 1px 0 inset;
    box-shadow: rgba(0,0,0,0.2) 0 0 6px,rgba(255,255,255,0.4) 0 1px 0 inset;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    padding: 17px 25px;
    color: rgba(0,0,0,0.75);
    font-size: 27px;
}

a.button .arrow {
    font-size:20px;
    padding-right: 5px;
    margin: 0;
}



.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    text-shadow: rgba(255,255,255,0.3) 0 1px 0;
    display: inline-block;
    border-color: rgba(0,0,0,0.75);
    border-width: 1px;
    border-style: solid;
    font-weight: bold;
    text-transform: uppercase;
}

.image-container {
    margin: 10px 10px 0 0;
    display: block;
    width: 200px;
    height: 310px;
    float: left;
    text-transform: uppercase;
    text-align: left;
}

.subtext {
    display: block;
    font-size: 12px;
    padding: 0 0 3px 28px;
}

.thumb {
    height: 280px;
}

.thumb-room {
    font: 12px Arial, Helvetica, sans-serif;
}

.thumb-floor {
    font: 11px Arial, Helvetica, sans-serif;
    color: #434445;
}

.yalelink {
    font-size: 12px;
}

.ninety {
    display: block;
    position: absolute;
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        /*text-decoration: underline;*/
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
